.advice {
  box-sizing: border-box;
  background-color: #e7f3ef;
  width: 350px;
  height: 50px;
  margin: 5px auto;
  border: 1px solid #e7f3ef;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice__text {
  text-align: center;
  color: #23483c;
}

.advice__hide {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 500px) {
  .advice {
    width: 100%;
  }
}
