@import "advice.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.movie__app {
  padding: 0px 10px;
  background-color: #448d76;
}
.movie__app-wrapper {
  min-height: 100vh;
}

.movie__app-wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.movie__app-search {
  background-color: #23483c;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.movie__app-logo {
  width: 350px;
  padding: 20px 0;
}

.movie__app-logo p {
  font-size: 30px;
  color: #e7f3ef;
  font-weight: 700;
}

.movie__app-logo p span {
  color: #23483c;
}

.movie__app-logo a:hover p span {
  color: #e7f3ef;
  background-color: #23483c;
  border-radius: 10px;
  padding: 3px;
}

.search__item {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.search__item h3 {
  align-self: center;
  color: #e7f3ef;
  font-size: 30px;
  font-weight: 500;
}

.search__input {
  box-sizing: border-box;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #292929;
  width: 400px;
}

.search__list {
  position: absolute;
  right: 10px;
  top: 100%;
  width: 400px;
  max-height: 385px;
  overflow-y: auto;
  z-index: 10;
}

.search__list-movie {
  display: flex;
  align-items: center;
  background-color: #093426;
  padding: 8px;
  color: #e7f3ef;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.search__list-movie:hover {
  background-color: #23483c;
}

.search__movie-thumbnail img {
  width: 55px;
  margin-right: 15px;
}

.search__movie-info h3 {
  font-weight: 600;
  font-size: 15px;
}

.search__movie-info p {
  font-size: 12px;
  margin-top: 8px;
  font-weight: 600;
  opacity: 0.6;
}

.search__list::-webkit-scrollbar {
  width: 8px;
}

.search__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search__list::-webkit-scrollbar-thumb {
  background-color: #79bea8;
  outline: none;
  border-radius: 10px;
}

.search__list-hide {
  display: none;
}

.movie__app-result img {
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #e7f3ef;
}

.result__movie-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.result__movie-info {
  text-align: center;
  color: #e7f3ef;
  padding-top: 45px;
}

.movie__title {
  font-size: 30px;
  color: #23483c;
}

.movie__info-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.result__movie-info .year {
  font-weight: 500;
}

.result__movie-info .rated {
  background-color: #23483c;
  padding: 5px;
  margin: 0 5px;
  border-radius: 3px;
  font-weight: 600;
}

.result__movie-info .released {
  font-size: 15px;
  opacity: 0.9;
}

.result__movie-info .writer {
  padding: 8px;
  margin: 15px 0;
}

.result__movie-info .genre {
  background-color: #292929;
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
}

.result__movie-info .plot {
  max-width: 400px;
  margin: 15px auto;
}

.result__movie-info .language {
  color: #23483c;
  font-style: italic;
}

.result__movie-info .awards {
  font-weight: 300;
  font-size: 15px;
  margin: 15px 10px 0 0;
}

@media (max-width: 800px) {
  .search__item {
    flex-direction: column;
  }

  .result__movie-list {
    flex-direction: column;
  }

  .result__movie-info {
    padding-top: 0;
  }

  .result__movie-info .writer {
    padding-left: 0;
    margin-left: 0;
  }

  .movie__info-list {
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  .movie__app-logo {
    width: 240px;
  }

  .movie__app-logo p {
    font-size: 20px;
  }

  .search__item {
    width: 100%;
  }

  .search__input {
    width: 100%;
    margin: 0 auto;
    padding: 8px 15px;
  }

  .search__list {
    width: 100%;
    right: 50%;
    transform: translateX(50%);
  }

  .movie__info-list {
    flex-direction: column;
  }

  .movie__info-list .rated {
    margin: 10px 0;
  }
  .movie__title {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .movie__app-logo {
    width: 100%;
  }
}
